html,
body {
  padding: 0;
  margin: 0;
  /* see: https://material-ui.com/customization/typography/#font-size, this makes 1rem == 10px */
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  scroll-behavior: smooth;
  scroll-padding-top: 99px; /* height of fixed header */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}